$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

///////////////////////////////////////////////////////////////
// - Variables
///////////////////////////////////////////////////////////////

$soft-peach: #f8f2ee;
$soft-brown: #cabebe;
$dark-brown: #ccc7ba;
$soft-black: #323232;
$white: #FFF;
$orange: #FFA726;
$blue: #00BCD4;
$grey: #ECEFF1;
$grey-dark: #607D8B;

$soft-grey: #fafafa;
$soft-green: #B9F6CA;
$light-green: #A7FFEB;
$soft-blue: #80D8FF;
$soft-orange: #FFCCBC;
$soft-red: #FFCDD2;
$lila: #D1C4E9;


///////////////////////////////////////////////////////////////
// - Common style for fonts
///////////////////////////////////////////////////////////////
html, body {
  background: $soft-grey;
  min-height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

a, button {
   outline: none;
}

h1 {
  font-size: 5rem;
  font-weight: lighter;
  padding-bottom: 30px;
  margin-bottom: 0px;
}

p, label{
  font-size:14px;
  font-weight: lighter;
  text-align: left;
}

.maxWidthContainer {
  max-width: 1300px;
  overflow: hidden;
  margin: 0 auto;
}

.container {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  .row {
    margin-left: 0;
    margin-right: 0;
  }
}

.error {
  color:#FF0033;
}

span {
  color:#FF0033;
}

.modal-footer {
  border-top:none;
}

.btn-primary {
  display: block;
  margin: 0 auto;
  width: 170px;
  border-radius: 2px;
  background: $soft-brown;
  border-color:transparent;
  margin-top:30px;
}

.borderMark {
  border-top: solid 1px $grey-dark;
}

.triangle {
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid $grey-dark;
  margin: 0 auto;
}

.paadingDown {
  padding-bottom: 5em;
}

.maxWidth {
  max-width: 730px;
  margin: 0 auto;
}

input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea,
#firstName, #secondName, #telephone {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1.5rem;
    margin: 0 0 15px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all .3s;
    color: $soft-black;
}

///////////////////////////////////////////////////////////////
// - Common style for all the sections, padding etc..
///////////////////////////////////////////////////////////////

.skills, .moreWorks, .whoAmI, .contactForm, .experience {
  padding: 4em 0 0;
  -webkit-transform: translateZ( 0 );
  transform: translateZ( 0 );
  -webkit-transition: -webkit-transform 2s ease-in-out;
  transition: transform 2s ease-in-out;
}

///////////////////////////////////////////////////////////////
// - Different sections style
///////////////////////////////////////////////////////////////


.mainSection {
  .centerDiv {
    height: 100%;
    display: flex;
    justify-content: center;
    .introduction {
      align-self: center;
      text-align: center;
      position: relative;
    }
  }

 .mainTitle, .subTitle {
   font-family: 'Raleway', sans-serif;
 }
}

.skills {

  .labelSkill {
    width: 15%;
    float: left;
  }

  .meter {
  			height: 32px;  /* Can be anything */
  			position: relative;
        float: left;
        width: 85%;
  			margin: 0px 0 20px 0; /* Just for demo spacing */
  			background: $white;
  			-moz-border-radius: 25px;
  			-webkit-border-radius: 25px;
  			border-radius: 2px;
  			padding: 10px;
  			-webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
  			-moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
  			box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
  		}
  		.meter > span {
        width: 0;
  			display: block;
        height: 18px;
        margin-top: -3px;
        border-radius: 2px;
  			background-color: $orange;
        box-shadow: 2px 2px 2px $grey;
        text-align: right;
        color : $white;
        padding-right: 15px;
  			background-image: -webkit-gradient(
  			  linear,
  			  left bottom,
  			  left top,
  			  color-stop(0, rgb(43,194,83)),
  			  color-stop(1, rgb(84,240,84))
  			 );
  			background-image: -moz-linear-gradient(
  			  center bottom,
  			  rgb(43,194,83) 37%,
  			  rgb(84,240,84) 69%
  			 );
  			position: relative;
  			overflow: hidden;
  		}
  		.meter > span:after, .animate > span > span {
  			content: "";
  			position: absolute;
  			top: 0; left: 0; bottom: 0; right: 0;
  			background-image:
  			   -webkit-gradient(linear, 0 0, 100% 100%,
  			      color-stop(.25, rgba(255, 255, 255, .2)),
  			      color-stop(.25, transparent), color-stop(.5, transparent),
  			      color-stop(.5, rgba(255, 255, 255, .2)),
  			      color-stop(.75, rgba(255, 255, 255, .2)),
  			      color-stop(.75, transparent), to(transparent)
  			   );
  			background-image:
  				-moz-linear-gradient(
  				  -45deg,
  			      rgba(255, 255, 255, .2) 25%,
  			      transparent 25%,
  			      transparent 50%,
  			      rgba(255, 255, 255, .2) 50%,
  			      rgba(255, 255, 255, .2) 75%,
  			      transparent 75%,
  			      transparent
  			   );
  			z-index: 1;
  			-webkit-background-size: 50px 50px;
  			-moz-background-size: 50px 50px;
  			-webkit-animation: move 2s linear infinite;
        border-radius: 8px;
  			overflow: hidden;
  		}



  		@-webkit-keyframes move {
  		    0% {
  		       background-position: 0 0;
  		    }
  		    100% {
  		       background-position: 50px 50px;
  		    }
  		}
}

.moreWorks {
  .box1 { background: $soft-green; }
  .box2 { background: $soft-orange; }
  .box3 { background: $soft-blue; }
  .box4 { background: $soft-red; }
  .box5 { background: $light-green; }
  .box6 { background: $lila; }
  .container1 {
    height: 200px;
    width: 97%;
    margin-bottom:20px;
    transition: all .2s ease-in-out;
    position: relative;
    &:hover {
    transform: scale(1.1);
    }
    .insideCont {
      position: absolute;
      top: 50%; left: 50%;
      transform: translate(-50%,-50%);
      text-align: center;
      width: 100px;
      color: $soft-black;
      p {
        text-align: center;
      }
      i {
        font-size: 40px;
      }
    }
  }
}

.whoAmI {
  .textLeft {
    font-size:3em;
    text-align: center;
  }
  .textRight {
    font-size:1.2em;
    text-align: right;
    padding-top: 10px;

  }
}

.experience {
  .slideLeft, .slideRight {
    opacity: 0;
  }
}

.moreWorks {
  .z-depth-3 {
    box-shadow: 0 12px 15px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
}

.contactForm {
  border-bottom: solid 1px $soft-brown;
  .rowMainStyle {
    margin-bottom: 15px;
    padding-left: 40px;
  }
  .labelStyle {
    min-width: 100px;
  }
  .inputStyle {
    min-width: 380px;
  }
  textarea {
    border: solid 1px $soft-black;
    opacity: 0.5;
    width: 100%;
    min-height: 200px;
    color: $soft-black;
  }
  .textareaWrapper {
    padding-left: 40px;
  }
  button {
    text-transform: capitalize;
  }
}

footer {
  background: $white;
  height: 50px;
  p{
    padding-top: 15px;
    padding-left:15px;
  }

}


///////////////////////////////////////////////////////////////
// - NAVIGATION BAR
///////////////////////////////////////////////////////////////

.navbar {
  z-index: 3;
  background: none;
  box-shadow: none;
  text-align: center;
  top: 0rem;
  height: 88px;
  position: fixed;
  width: 100%;
  margin-bottom: 0;
  background: transparent;
  border: none;
  .navbar-toggle {
    border: none;
  }
  .navbar-collapse {
    width: 66%;
    height: 100%;
    margin: 0 auto;
    line-height: 4.8;
    border-bottom: solid 1px grey;
  }
  .navbar-nav {
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    width:100%;
    margin: 2em 0;
    .closeMenu {
      position: absolute;
      right: 0;
      font-size: 1.5em;
      margin-right: -20px;
      top: 0;
      margin-top: -35px;
    }
    li {
      text-align: center;
      display: table-cell;
      width: 16%;
      a {
        color: $soft-black;
        padding: 0 0.5em;
        font-size: 1.2rem;
      }
    }
  }
}

.changeBackground {
  background: $grey-dark;
  border-bottom: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -webkit-transition: background-color 1000ms linear;
   -moz-transition: background-color 1000ms linear;
   -o-transition: background-color 1000ms linear;
   -ms-transition: background-color 1000ms linear;
   transition: background-color 1000ms linear;
  a {
    color: $white;
  }
}

///////////////////////////////////////////////////////////////
// - PARALLAX EFFECT
///////////////////////////////////////////////////////////////

.parallax {
  height: 100vh;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: initial;
}

.parallaxMain {
  background: url("../images/IM2opacity.jpg") center no-repeat;
  background-size: cover;
}



///////////////////////////////////////////////////////////////
// - RESPONSIVE MENU
///////////////////////////////////////////////////////////////

/*@media (min-width : 770px) {
  .hamburger, .smallNav {
    display: none;
  }
}

@media (max-width : 769px) {
  .row {
    margin-bottom: 0;
  }
  .paadingDown {
    padding-bottom: 0;
  }
  .borderBottom {
    margin-top: 2em;
  }
  .nav-wrapper,
  .maxWidth {
    display: none;
  }
  .hamburger {
    position: fixed;
    top: 0;
    padding: 1em;
    color: $soft-black;
    z-index: 10;
    background: transparent;
    border: none;
    i {
        font-size: 3em;
    }
    &:active, &:focus {
      display: none;
    }
  }
  .smallNav {
    display: none;
    height: 100vh;
    width: 300px;
    position: fixed;
    z-index: 9;
    background: $soft-black;
    .smallNav__wrap {
      height: 100%;
      ul {
        padding-left: 0;
        height: 100%;
        li {
          line-height: 3.5em;
          list-style: none;
        a {
          padding: 2em;
          color: $soft-blue;
        }
        }
      }
    }
  }
}*/


///////////////////////////////////////////////////////////////
// - MODAL
///////////////////////////////////////////////////////////////

.modal-header {
  text-align: center;
}

.modal {
  background: transparent;
  box-shadow: none;
  border: none;
}

.modal-content {
  border: none;
  box-shadow: none;
  color: $white;
  background: rgba(50,50,50,0.7);
  border-radius: 2px;
}

.close {
  font-size: 30px;
  color: $soft-peach;
  &:hover {
    opacity:0.78;
  }
}

///////////////////////////////////////////////////////////////
// - Media Querys
///////////////////////////////////////////////////////////////

@media (max-width: 1200px) {
  .contactForm textarea {
    width: 85.7%;
  }
}

@media (max-width: 992px) {
  .contactForm textarea {
    width: 103.7%;
  }
}

@media (min-width: 769px) {
  .closeMenu {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .contactForm {
     textarea {
       width: 97.7%;
    }
    .textareaWrapper {
      padding-left: 0px;
    }
  }
  .navbar {
    .navbar-toggle {
      float: left;
      margin: 1em;
    }
    .navbar-collapse {
      width: 30%;
      min-width: 240px;
      margin: 0;
      background: $grey-dark;
      color: $soft-blue;
      position: fixed;
      top:0;
      left:0;
      .navbar-nav li {
        width: 100%;
        display: block;
        line-height: 3.5em;
        list-style: none;
        a {
          padding: 1em;
          text-align: left;
          color: $soft-blue;
        }
      }
    }
  }
}

@media (max-width: 597px) {
  .contactForm {
     textarea {
        width: 100%;
    }
    .inputStyle {
      width: 100%;
      min-width: 0;
    }
  }
}

@media (max-width: 400px) {
  .mainSection .mainTitle {
      left: 60px;
  }
  .mainSection .subTitle {
      left: 5px;
  }
}


